Python code can be run online in a Google Colab notebook, which uses the code you submitted. Allow me to explain the procedures in layman's words:

Upload Your Kaggle API Key: You can use this to upload a file that contains your API key. Kaggle is a platform for datasets and data science challenges.

Establish Kaggle Directory: The Kaggle API key is safely stored in a folder named.kaggle.

Move API Key: The Kaggle API key file that was uploaded is moved to the newly made directory.

Set Permissions: For security reasons, this makes sure that only you have access to read and write to your Kaggle API key file.

Installing the Kaggle Package enables you to obtain datasets from Kaggle. It does this by installing the Kaggle utility.

In [1]:
from google.colab import files

In [2]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"hardik2005","key":"10b6d8f6c2f4fe2785c04cac64d7d19d"}'}

In [3]:
!mkdir ~/.kaggle

In [4]:
!mv /content/kaggle.json ~/.kaggle

In [5]:
!chmod 600 ~/.kaggle/kaggle.json

In [6]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.6)

In [7]:
!kaggle datasets download -d austinreese/craigslist-carstrucks-data

Downloading craigslist-carstrucks-data.zip to /content
 98% 258M/262M [00:01<00:00, 141MB/s]
100% 262M/262M [00:01<00:00, 147MB/s]

In [8]:
!unzip /content/craigslist-carstrucks-data.zip

Archive:  /content/craigslist-carstrucks-data.zip
  inflating: vehicles.csv

In [9]:
import pandas as pd

In [10]:
import numpy as np

All the content in the vehicles dataset is been store in the data

In [12]:
data = pd.read_csv("/content/vehicles.csv")

use to display the content

In [13]:
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

Use to mount the drive

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

show all the columns in the dataset

In [15]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

it show the size of the sataset

In [16]:
data.shape

(426880, 26)

it show the not fill value in the dataset

In [17]:
data.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

A pandas DataFrame method called data.drop(labels=data.columns[0:4], axis=1, inplace=True) eliminates the first four columns of the DataFrame with the name data. The column labels to be dropped are specified by the labels parameter, and the operation is limited to columns if axis=1. The original DataFrame is directly modified by the inplace=True option, removing the requirement to assign the outcome to a new variable. This line helps to streamline the dataset for further analysis or modeling operations by effectively trimming the DataFrame by deleting the designated columns.

In [18]:
data.drop(labels=data.columns[0:4],axis=1,inplace=True)

it drop the title status in the data set

In [19]:
data.drop(labels="title_status",axis=1,inplace=True)

in this we have done slicing from 14 index to last one because we dont need it

In [20]:
data.drop(labels=data.columns[14:],axis=1,inplace=True)

In [21]:
data.drop(labels="VIN",axis=1,inplace=True)

In [22]:
data.shape

(426880, 13)

In [23]:
data.columns

Index(['price', 'year', 'manufacturer', 'model', 'condition', 'cylinders',
       'fuel', 'odometer', 'transmission', 'drive', 'size', 'type',
       'paint_color'],
      dtype='object')

In [24]:
data.dropna(axis=0,thresh=12,inplace=True)

In [25]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model             975
condition       13570
cylinders        1766
fuel                0
odometer          408
transmission       11
drive            2491
size            36793
type             1893
paint_color      2856
dtype: int64

use to fill the odometer missing data

In [26]:
data["odometer"].fillna(value=data["odometer"].mean(),inplace=True)

show the unique condition

In [27]:
data["condition"].unique()

array(['excellent', 'good', 'like new', 'new', 'fair', nan, 'salvage'],
      dtype=object)

no. of count of each condition

In [28]:
data["condition"].value_counts()

excellent    59097
good         51580
like new     14128
fair          4547
new            732
salvage        363
Name: condition, dtype: int64

The code given deals with missing values in the pandas DataFrame named data's "condition" column. The "condition" column's NaN (missing) values are replaced using the fillna technique. The most common condition in the dataset is used to calculate the replacement value. Using value_counts(), the code first determines the counts of each unique condition. The unique condition labels are given by the index property of the resultant value counts, and the label corresponding to the highest count is found using argmax(). The fill value for the absent items in the "condition" column is then determined by using this most frequent condition label. By adding the filled values from the "condition" to the original DataFrame, the inplace=True argument guarantees that the changes are applied directly to the original DataFrame.

In [29]:
data["condition"].fillna(value=data["condition"].value_counts().index[data["condition"].value_counts().argmax()],
                         inplace=True)

In [30]:
data["paint_color"].fillna(value=data["paint_color"].value_counts().index[data["paint_color"].value_counts().argmax()],
                           inplace=True)

In [31]:
data["transmission"].fillna(value=data["transmission"].value_counts().index[data["transmission"].value_counts().argmax()],
                           inplace=True)

To generate a cross-tabulation or contingency table, use the pandas library with the function pd.crosstab(data["model"], [data["year"], data["manufacturer"]], rownames=["model"], colnames=["year", "manufacturer"]). The "model," "year," and "manufacturer" columns of the DataFrame named data are used to create the cross-tabulation. The crosstab_df_mdl_yr_mfc that was produced DataFrame presents the frequency distribution of distinct pairings including "model," "year," and "manufacturer." The names for the cross-tabulation's rows (indexed by "model") and columns (indexed by "year" and "manufacturer") are determined by the rownames and colnames parameters. This crosstabulation facilitates additional analysis and insights into the correlations among these variables by providing an organized summary of the number of occurrences for each combination of automobile model, manufacturing year, and manufacturer in the dataset.

In [32]:
crosstab_df_mdl_yr_mfc = pd.crosstab(data["model"],
 [data["year"],data["manufacturer"]],rownames=["model"],
                                     colnames=["year","manufacturer"])

use to show the crosstab table created above

In [33]:
crosstab_df_mdl_yr_mfc

year                   1900.0    1905.0   1913.0      1918.0 1923.0 1924.0  \
manufacturer            acura chevrolet cadillac ford   ford   ford  dodge
model
"t"                         0         0        0    1      0      0      0
& altima                    0         0        0    0      0      0      0
(210)                       0         0        0    0      0      0      0
(300)                       0         0        0    0      0      0      0
(cng) 2500 express van      0         0        0    0      0      0      0
...                       ...       ...      ...  ...    ...    ...    ...
zl1 camaro                  0         0        0    0      0      0      0
zr2 sonoma                  0         0        0    0      0      0      0
zx2                         0         0        0    0      0      0      0
â™¿                           0         0        0    0      0      0      0
â™¿ vmi                       0         0        0    0      0      0      0

year                        1925.0 1926.0  ... 2021.0                      \
manufacturer           ford   ford   ford  ...    ram rover subaru toyota
model                                      ...
"t"                       0      0      0  ...      0     0      0      0
& altima                  0      0      0  ...      0     0      0      0
(210)                     0      0      0  ...      0     0      0      0
(300)                     0      0      0  ...      0     0      0      0
(cng) 2500 express van    0      0      0  ...      0     0      0      0
...                     ...    ...    ...  ...    ...   ...    ...    ...
zl1 camaro                0      0      0  ...      0     0      0      0
zr2 sonoma                0      0      0  ...      0     0      0      0
zx2                       0      0      0  ...      0     0      0      0
â™¿                         0      0      0  ...      0     0      0      0
â™¿ vmi                     0      0      0  ...      0     0      0      0

year                                       2022.0
manufacturer           volkswagen volvo chevrolet ford mitsubishi toyota
model
"t"                             0     0         0    0          0      0
& altima                        0     0         0    0          0      0
(210)                           0     0         0    0          0      0
(300)                           0     0         0    0          0      0
(cng) 2500 express van          0     0         0    0          0      0
...                           ...   ...       ...  ...        ...    ...
zl1 camaro                      0     0         0    0          0      0
zr2 sonoma                      0     0         0    0          0      0
zx2                             0     0         0    0          0      0
â™¿                               0     0         0    0          0      0
â™¿ vmi                           0     0         0    0          0      0

[12280 rows x 1706 columns]

The code snippet iterates through the columns of the cross-tabulated DataFrame (crosstab_df_mdl_yr_mfc) to generate a mapping dictionary (mapping_dict). The greatest frequency value in each column is used to determine the index (a "year" and "manufacturer" combination) and the matching value in the dictionary. In essence, this provides a mapping between the most frequent "model" values and the cross-tabulated columns by capturing the most common "model" for every distinct combination of "year" and "manufacturer."

In [34]:
mapping_dict = dict()

for single_col in crosstab_df_mdl_yr_mfc.columns:
  mapping_dict[single_col] = crosstab_df_mdl_yr_mfc[single_col].index[crosstab_df_mdl_yr_mfc[single_col].argmax()]

show the mapping_dict

In [35]:
mapping_dict

{(1900.0, 'acura'): 'rdx',
 (1905.0, 'chevrolet'): 'astro cargo',
 (1913.0, 'cadillac'): 'touring car',
 (1913.0, 'ford'): '"t"',
 (1918.0, 'ford'): 'model t',
 (1923.0, 'ford'): 't bucket',
 (1924.0, 'dodge'): 'phaeton',
 (1924.0, 'ford'): 'model t',
 (1925.0, 'ford'): 'model t',
 (1926.0, 'ford'): 'model t',
 (1927.0, 'chevrolet'): 'coupe',
 (1927.0, 'chrysler'): '60 series',
 (1927.0, 'ford'): 'model t',
 (1928.0, 'cadillac'): 'coupe',
 (1928.0, 'chevrolet'): '4x4 pickup',
 (1928.0, 'dodge'): 'hotrod',
 (1928.0, 'ford'): 'model a',
 (1929.0, 'dodge'): 'da coupe',
 (1929.0, 'ford'): 'model a',
 (1930.0, 'chevrolet'): 'coupe',
 (1930.0, 'dodge'): 'dc8',
 (1930.0, 'ford'): 'model a',
 (1931.0, 'chevrolet'): '5 window coupe',
 (1931.0, 'ford'): 'model a',
 (1932.0, 'chevrolet'): 'coupe',
 (1932.0, 'chrysler'): 'rat rod',
 (1932.0, 'ford'): 'roadster',
 (1932.0, 'pontiac'): 'coupe',
 (1933.0, 'chevrolet'): 'coupe',
 (1933.0, 'ford'): '3 window pro street coupe',
 (1934.0, 'chevrolet'): 'sedan',
 (1934.0, 'dodge'): 'sedan',
 (1934.0, 'ford'): '5 window coupe',
 (1935.0, 'chevrolet'): 'coupe',
 (1935.0, 'dodge'): 'pickup',
 (1935.0, 'ford'): 'five window coupe',
 (1936.0, 'buick'): '40 series coupe',
 (1936.0, 'chevrolet'): '2 door',
 (1936.0, 'dodge'): 'coupe',
 (1936.0, 'ford'): '68',
 (1936.0, 'pontiac'): '4 door',
 (1937.0, 'cadillac'): 'lasalle',
 (1937.0, 'chevrolet'): '2 door sedan custom',
 (1937.0, 'dodge'): 'd-5',
 (1937.0, 'ford'): 'coupe',
 (1937.0, 'jaguar'): 'roadster',
 (1937.0, 'pontiac'): 'hot rod',
 (1938.0, 'buick'): 'special',
 (1938.0, 'cadillac'): 'lasalle',
 (1938.0, 'chevrolet'): 'coupe',
 (1938.0, 'dodge'): 'brothers',
 (1938.0, 'ford'): 'expedition',
 (1938.0, 'jaguar'): 'ss100',
 (1938.0, 'pontiac'): 'silver streak',
 (1939.0, 'buick'): 'century',
 (1939.0, 'chevrolet'): 'business coupe',
 (1939.0, 'dodge'): 'coe',
 (1939.0, 'ford'): 'delivery panel truck',
 (1939.0, 'gmc'): 'classic flatbed',
 (1939.0, 'mercury'): '351 windsor',
 (1939.0, 'pontiac'): 'silver streak',
 (1940.0, 'buick'): 'eight',
 (1940.0, 'cadillac'): 'lasalle',
 (1940.0, 'chevrolet'): 'coupe',
 (1940.0, 'ford'): 'coupe',
 (1940.0, 'mercury'): 'coupe',
 (1940.0, 'pontiac'): 'silver streak',
 (1941.0, 'buick'): 'century',
 (1941.0, 'chevrolet'): 'pickup',
 (1941.0, 'ford'): 'coe',
 (1941.0, 'lincoln'): 'continental',
 (1941.0, 'pontiac'): 'chiefton',
 (1942.0, 'chevrolet'): 'master deluxe',
 (1942.0, 'ford'): 'truck',
 (1944.0, 'jeep'): 'ww2',
 (1946.0, 'chevrolet'): 'truck',
 (1946.0, 'dodge'): '1 ton power wagon',
 (1946.0, 'ford'): 'super deluxe',
 (1946.0, 'gmc'): 'cc102',
 (1946.0, 'jeep'): 'willys',
 (1947.0, 'chevrolet'): 'truck',
 (1947.0, 'dodge'): 'sedan',
 (1947.0, 'ford'): 'coupe',
 (1947.0, 'gmc'): 'panel',
 (1947.0, 'lincoln'): 'zephyr',
 (1947.0, 'mercury'): 'eight',
 (1947.0, 'pontiac'): 'streamliner',
 (1948.0, 'cadillac'): 'series 75',
 (1948.0, 'chevrolet'): 'coupe',
 (1948.0, 'dodge'): 'truck',
 (1948.0, 'ford'): 'tudor sedan',
 (1948.0, 'gmc'): 'fc101',
 (1948.0, 'jeep'): 'willeys',
 (1949.0, 'chevrolet'): '3100',
 (1949.0, 'dodge'): 'coronet coupe',
 (1949.0, 'ford'): 'custom',
 (1949.0, 'gmc'): 'truck',
 (1950.0, 'chevrolet'): 'coupe',
 (1950.0, 'chrysler'): 'town country',
 (1950.0, 'dodge'): 'meadowbrook',
 (1950.0, 'ford'): 'coupe',
 (1950.0, 'mercury'): 'custom',
 (1951.0, 'buick'): 'special',
 (1951.0, 'chevrolet'): 'styleline deluxe',
 (1951.0, 'dodge'): 'b-3-b',
 (1951.0, 'ford'): 'custom',
 (1951.0, 'jeep'): 'cj 3a willys',
 (1951.0, 'mercury'): 'monterey',
 (1951.0, 'pontiac'): 'chiefton',
 (1952.0, 'buick'): 'super',
 (1952.0, 'chevrolet'): '3100',
 (1952.0, 'chrysler'): 'town and country',
 (1952.0, 'dodge'): '150 pkup',
 (1952.0, 'ford'): 'f1',
 (1952.0, 'gmc'): 'm135',
 (1952.0, 'mercury'): 'monterey',
 (1953.0, 'chevrolet'): '210',
 (1953.0, 'dodge'): 'coronet',
 (1953.0, 'ford'): 'customline',
 (1953.0, 'jeep'): "willy's cj3-a",
 (1953.0, 'mercury'): 'monterey',
 (1954.0, 'buick'): 'super',
 (1954.0, 'chevrolet'): '037',
 (1954.0, 'chrysler'): 'desoto',
 (1954.0, 'dodge'): 'm-37',
 (1954.0, 'ford'): 'cresline',
 (1954.0, 'lincoln'): 'capri',
 (1954.0, 'mercury'): 'sun valley',
 (1954.0, 'pontiac'): '4 door',
 (1955.0, 'buick'): 'roadmaster',
 (1955.0, 'cadillac'): 'fleetwood',
 (1955.0, 'chevrolet'): 'other',
 (1955.0, 'chrysler'): 'windsor deluxe',
 (1955.0, 'dodge'): 'pickup',
 (1955.0, 'ford'): 'thunderbird',
 (1955.0, 'jaguar'): 'xk',
 (1955.0, 'lincoln'): 'capri',
 (1955.0, 'mercedes-benz'): 'benz 220s sedan',
 (1955.0, 'pontiac'): 'chieftain',
 (1955.0, 'porsche'): '356 speedster',
 (1956.0, 'buick'): 'super',
 (1956.0, 'cadillac'): '62 series',
 (1956.0, 'chevrolet'): '210',
 (1956.0, 'dodge'): 'desoto fireflight',
 (1956.0, 'ford'): 'victoria',
 (1956.0, 'jeep'): 'cj6',
 (1956.0, 'mercury'): 'montcliar',
 (1956.0, 'pontiac'): 'chieften',
 (1956.0, 'volkswagen'): 'bug',
 (1957.0, 'cadillac'): 'series 62',
 (1957.0, 'chevrolet'): 'bel-air',
 (1957.0, 'chrysler'): 's/w',
 (1957.0, 'dodge'): 'power wagon',
 (1957.0, 'ford'): 'thunderbird convertible',
 (1957.0, 'gmc'): 'lcf 2 ton dually',
 (1957.0, 'jeep'): 'willyâ€™s',
 (1957.0, 'mercury'): 'montclair',
 (1957.0, 'pontiac'): 'super chief',
 (1957.0, 'volkswagen'): 'beetle',
 (1958.0, 'cadillac'): 'series 62',
 (1958.0, 'chevrolet'): 'del ray',
 (1958.0, 'ford'): 'custom 300',
 (1958.0, 'jeep'): 'fcw',
 (1958.0, 'lincoln'): 'continental mark iii',
 (1958.0, 'mercury'): 'medalist',
 (1958.0, 'pontiac'): 'star chief',
 (1959.0, 'chevrolet'): 'apache',
 (1959.0, 'dodge'): '500',
 (1959.0, 'ford'): 'f100',
 (1959.0, 'gmc'): '100 pick-up truck',
 (1959.0, 'jaguar'): 'xk150 se dhc',
 (1959.0, 'rover'): 'p5 saloon',
 (1960.0, 'chevrolet'): 'corvette',
 (1960.0, 'ford'): 'thunderbird',
 (1960.0, 'jeep'): 'cj-5',
 (1960.0, 'lincoln'): 'continental mark v',
 (1960.0, 'pontiac'): 'bonneville',
 (1960.0, 'volkswagen'): 'beetle',
 (1961.0, 'buick'): 'electra 225',
 (1961.0, 'chevrolet'): 'apache',
 (1961.0, 'ford'): 'f100',
 (1961.0, 'mercedes-benz'): '300d',
 (1961.0, 'mini'): 'cooper',
 (1961.0, 'pontiac'): 'bonneville',
 (1962.0, 'buick'): 'invita',
 (1962.0, 'cadillac'): 'convertible',
 (1962.0, 'chevrolet'): 'corvair',
 (1962.0, 'chrysler'): 'tc by maserati',
 (1962.0, 'dodge'): 'polara 500',
 (1962.0, 'ferrari'): 'kit car',
 (1962.0, 'ford'): 'f100',
 (1962.0, 'gmc'): '1500',
 (1962.0, 'jeep'): 'cj-3b',
 (1962.0, 'mercedes-benz'): '220se coupe',
 (1962.0, 'mercury'): 's22 comet',
 (1962.0, 'pontiac'): 'tempest lemans',
 (1962.0, 'toyota'): 'fj40 landcruiser',
 (1962.0, 'volkswagen'): 'beetle',
 (1962.0, 'volvo'): '544',
 (1963.0, 'buick'): 'riviera',
 (1963.0, 'chevrolet'): 'impala',
 (1963.0, 'chrysler'): 'crown imperial',
 (1963.0, 'dodge'): 'd100',
 (1963.0, 'ford'): 'galaxie 500 convertible',
 (1963.0, 'gmc'): 'pickup',
 (1963.0, 'jeep'): 'cj-6',
 (1963.0, 'lincoln'): 'continental',
 (1963.0, 'mercedes-benz'): 'benz 220se',
 (1963.0, 'mercury'): 'comet',
 (1963.0, 'pontiac'): 'bonneville',
 (1963.0, 'volvo'): '122s',
 (1964.0, 'buick'): 'riviera',
 (1964.0, 'cadillac'): 'convertible project',
 (1964.0, 'chevrolet'): 'malibu',
 (1964.0, 'chrysler'): 'imperial crown coupe',
 (1964.0, 'dodge'): 'dart gt',
 (1964.0, 'ford'): 'fairlane 500',
 (1964.0, 'mercedes-benz'): 'benz unimog',
 (1964.0, 'mercury'): 'monterey',
 (1964.0, 'pontiac'): 'bonneville',
 (1964.0, 'rover'): 'defender',
 (1964.0, 'volkswagen'): 'bug',
 (1964.0, 'volvo'): '122',
 (1965.0, 'buick'): 'skylark',
 (1965.0, 'cadillac'): 'sedan de ville',
 (1965.0, 'chevrolet'): 'chevelle',
 (1965.0, 'chrysler'): "300 'l'",
 (1965.0, 'dodge'): 'dart',
 (1965.0, 'ford'): 'mustang',
 (1965.0, 'gmc'): 'coca-cola handivan',
 (1965.0, 'harley-davidson'): 'davidson',
 (1965.0, 'jeep'): 'j200 gladiator',
 (1965.0, 'mercedes-benz'): '220s / 3.0',
 (1965.0, 'mercury'): 'comet caliente',
 (1965.0, 'pontiac'): 'lemans',
 (1965.0, 'porsche'): '912',
 (1965.0, 'toyota'): 'landcruiser fj40',
 (1965.0, 'volkswagen'): 'beetle',
 (1965.0, 'volvo'): 'amazon',
 (1966.0, 'buick'): 'riviera',
 (1966.0, 'cadillac'): 'coupe deville',
 (1966.0, 'chevrolet'): 'c10',
 (1966.0, 'chrysler'): '300',
 (1966.0, 'datsun'): 'roadster',
 (1966.0, 'dodge'): 'coronet 440',
 (1966.0, 'ford'): 'mustang',
 (1966.0, 'jaguar'): '3.8s sedan',
 (1966.0, 'jeep'): 'gladiator',
 (1966.0, 'lincoln'): 'continental',
 (1966.0, 'mercedes-benz'): 'se cabriolet',
 (1966.0, 'pontiac'): 'bonneville',
 (1966.0, 'volkswagen'): 'beetle',
 (1966.0, 'volvo'): '122',
 (1967.0, 'buick'): 'gs 400',
 (1967.0, 'chevrolet'): 'el camino',
 (1967.0, 'dodge'): 'charger',
 (1967.0, 'ford'): 'mustang',
 (1967.0, 'gmc'): '2500',
 (1967.0, 'lincoln'): 'continental sedan',
 (1967.0, 'mercury'): 'cougar',
 (1967.0, 'mini'): 'moke',
 (1967.0, 'pontiac'): 'firebird',
 (1967.0, 'porsche'): '911',
 (1967.0, 'volkswagen'): 'beetle',
 (1967.0, 'volvo'): 'p1800',
 (1968.0, 'buick'): 'riviera',
 (1968.0, 'cadillac'): 'coupe deville',
 (1968.0, 'chevrolet'): 'camaro',
 (1968.0, 'chrysler'): '300',
 (1968.0, 'datsun'): '1600',
 (1968.0, 'dodge'): 'dart',
 (1968.0, 'ford'): 'mustang',
 (1968.0, 'gmc'): '2500 4x4',
 (1968.0, 'jeep'): 'cj5',
 (1968.0, 'mercedes-benz'): 'benz 200d',
 (1968.0, 'mercury'): 'cougar',
 (1968.0, 'mini'): 'cooper',
 (1968.0, 'pontiac'): 'firebird',
 (1968.0, 'porsche'): '912',
 (1968.0, 'toyota'): 'fj40',
 (1968.0, 'volkswagen'): 'beetle',
 (1969.0, 'buick'): 'electra 225',
 (1969.0, 'cadillac'): 'deville',
 (1969.0, 'chevrolet'): 'camaro',
 (1969.0, 'datsun'): '1600 roadster',
 (1969.0, 'dodge'): 'a100',
 (1969.0, 'ford'): 'mustang',
 (1969.0, 'gmc'): 'custom 1500',
 (1969.0, 'jaguar'): 'e type',
 (1969.0, 'jeep'): 'cj5',
 (1969.0, 'lincoln'): 'continental mk iii',
 (1969.0, 'mercury'): 'cougar',
 (1969.0, 'pontiac'): 'gto',
 (1969.0, 'porsche'): '911 s',
 (1969.0, 'rover'): 'serieslla',
 (1969.0, 'toyota'): 'corona',
 (1969.0, 'volkswagen'): 'beetle',
 (1970.0, 'buick'): 'gs 455 4 speed',
 (1970.0, 'cadillac'): 'deville',
 (1970.0, 'chevrolet'): 'c10',
 (1970.0, 'chrysler'): 'hurst',
 (1970.0, 'dodge'): 'challenger',
 (1970.0, 'fiat'): '850 spider',
 (1970.0, 'ford'): 'mustang',
 (1970.0, 'gmc'): '1500 custom pick up',
 (1970.0, 'jaguar'): 'xke roadster',
 (1970.0, 'jeep'): 'cj5',
 (1970.0, 'lincoln'): 'continental',
 (1970.0, 'pontiac'): 'catalina 400',
 (1970.0, 'volkswagen'): 'beetle',
 (1970.0, 'volvo'): 'p1800e',
 (1971.0, 'buick'): 'riviera',
 (1971.0, 'cadillac'): 'eldorado convertible',
 (1971.0, 'chevrolet'): 'el camino',
 (1971.0, 'datsun'): '240z',
 (1971.0, 'dodge'): 'demon',
 (1971.0, 'ford'): 'f250',
 (1971.0, 'gmc'): '1500',
 (1971.0, 'jaguar'): 'xke',
 (1971.0, 'jeep'): 'cj5',
 (1971.0, 'lincoln'): '/mercury comet',
 (1971.0, 'mercedes-benz'): '280 se',
 (1971.0, 'mercury'): 'cougar xr7',
 (1971.0, 'pontiac'): 'grand prix',
 (1971.0, 'porsche'): '911',
 (1971.0, 'toyota'): 'fj40 land cruiser',
 (1971.0, 'volkswagen'): 'super beetle',
 (1971.0, 'volvo'): '1800e',
 (1972.0, 'buick'): 'skylark sun coupe.',
 (1972.0, 'cadillac'): 'eldorado',
 (1972.0, 'chevrolet'): 'corvette',
 (1972.0, 'datsun'): '240z',
 (1972.0, 'dodge'): 'challenger',
 (1972.0, 'fiat'): '850',
 (1972.0, 'ford'): 'bronco',
 (1972.0, 'gmc'): '1500',
 (1972.0, 'jeep'): 'cj-5',
 (1972.0, 'lincoln'): 'continental mark iv',
 (1972.0, 'mercedes-benz'): '350sl',
 (1972.0, 'mercury'): 'cougar',
 (1972.0, 'pontiac'): 'lemans',
 (1972.0, 'porsche'): '914 1.7 l',
 (1972.0, 'toyota'): 'landcruiser',
 (1972.0, 'volkswagen'): 'beetle',
 (1972.0, 'volvo'): 'p1800',
 (1973.0, 'bmw'): '2002',
 (1973.0, 'buick'): 'century',
 (1973.0, 'cadillac'): 'eldorado convertible',
 (1973.0, 'chevrolet'): 'corvette',
 (1973.0, 'chrysler'): 'newport custom',
 (1973.0, 'datsun'): '240z',
 (1973.0, 'dodge'): 'charger',
 (1973.0, 'ford'): 'bronco',
 (1973.0, 'gmc'): 'sierra',
 (1973.0, 'honda'): 'accord',
 (1973.0, 'jaguar'): 'xj6',
 (1973.0, 'jeep'): 'cj5',
 (1973.0, 'lincoln'): 'continental',
 (1973.0, 'mercedes-benz'): 'benz 450sl',
 (1973.0, 'mercury'): 'cougar',
 (1973.0, 'pontiac'): 'gto',
 (1973.0, 'porsche'): '914',
 (1973.0, 'rover'): 'defender',
 (1973.0, 'toyota'): 'fj40',
 (1973.0, 'volkswagen'): 'super beetle',
 (1973.0, 'volvo'): 'p1800es',
 (1974.0, 'alfa-romeo'): 'romeo spider',
 (1974.0, 'bmw'): '2002',
 (1974.0, 'buick'): 'century',
 (1974.0, 'cadillac'): 'eldorado',
 (1974.0, 'chevrolet'): 'corvette',
 (1974.0, 'dodge'): 'w300',
 (1974.0, 'fiat'): 'x1/9',
 (1974.0, 'ford'): 'thunderbird',
 (1974.0, 'jeep'): 'cj5',
 (1974.0, 'lincoln'): 'mark iv',
 (1974.0, 'mercedes-benz'): '450 sl',
 (1974.0, 'mercury'): 'montego mx',
 (1974.0, 'mini'): 'cooper hardtop',
 (1974.0, 'pontiac'): 'grandville',
 (1974.0, 'volkswagen'): 'beetle',
 (1975.0, 'bmw'): '2002',
 (1975.0, 'buick'): 'lesabre',
 (1975.0, 'cadillac'): 'deville',
 (1975.0, 'chevrolet'): 'corvette',
 (1975.0, 'dodge'): 'dart',
 (1975.0, 'fiat'): '124 spider',
 (1975.0, 'ford'): 'ranchero gt',
 (1975.0, 'gmc'): 'sprint',
 (1975.0, 'jeep'): 'cj5',
 (1975.0, 'lincoln'): 'continental',
 (1975.0, 'mercedes-benz'): 'benz 450sl',
 (1975.0, 'mercury'): 'cougar xr7',
 (1975.0, 'pontiac'): 'firebird',
 (1975.0, 'porsche'): '914',
 (1975.0, 'toyota'): 'land cruiser',
 (1975.0, 'volkswagen'): 'beetle',
 (1976.0, 'alfa-romeo'): 'romeo gtv 2000',
 (1976.0, 'bmw'): '2002',
 (1976.0, 'cadillac'): 'seville',
 (1976.0, 'chevrolet'): 'corvette',
 (1976.0, 'datsun'): '280z',
 (1976.0, 'dodge'): 'd100',
 (1976.0, 'ford'): 'f250',
 (1976.0, 'gmc'): '6000',
 (1976.0, 'jeep'): 'cj5',
 (1976.0, 'lincoln'): 'mark iv',
 (1976.0, 'mercedes-benz'): 'benz 450 sel',
 (1976.0, 'mercury'): 'bobcat',
 (1976.0, 'pontiac'): 'trans am',
 (1976.0, 'porsche'): '914',
 (1976.0, 'rover'): 'series',
 (1976.0, 'toyota'): 'fj40',
 (1976.0, 'volkswagen'): 'beetle bug',
 (1977.0, 'bmw'): '320i',
 (1977.0, 'buick'): 'regal',
 (1977.0, 'cadillac'): 'fleetwood limo',
 (1977.0, 'chevrolet'): 'corvette',
 (1977.0, 'chrysler'): 'new yorker',
 (1977.0, 'dodge'): 'powerwagon',
 (1977.0, 'ford'): 'thunderbird',
 (1977.0, 'gmc'): 'sierra',
 (1977.0, 'jeep'): 'cj5',
 (1977.0, 'lincoln'): 'continental mark v',
 (1977.0, 'mercedes-benz'): 'benz 450sl',
 (1977.0, 'mercury'): 'grand marquis',
 (1977.0, 'pontiac'): 'firebird formula',
 (1977.0, 'toyota'): 'celica st',
 (1977.0, 'volkswagen'): 'beetle',
 (1978.0, 'alfa-romeo'): 'romeo spider',
 (1978.0, 'buick'): 'regal',
 (1978.0, 'cadillac'): 'seville',
 (1978.0, 'chevrolet'): 'corvette',
 (1978.0, 'chrysler'): 'new yorker',
 (1978.0, 'dodge'): 'aspen',
 (1978.0, 'fiat'): '124 spider',
 (1978.0, 'ford'): 'f250',
 (1978.0, 'gmc'): 'sierra',
 (1978.0, 'jaguar'): 'xj6',
 (1978.0, 'jeep'): 'cj5',
 (1978.0, 'lincoln'): 'continental',
 (1978.0, 'mercedes-benz'): 'benz',
 (1978.0, 'mercury'): 'cougar',
 (1978.0, 'pontiac'): 'trans am',
 (1978.0, 'porsche'): '924',
 (1978.0, 'toyota'): 'land cruiser',
 (1978.0, 'volkswagen'): 'beetle',
 (1979.0, 'buick'): 'estate wagon',
 (1979.0, 'cadillac'): 'deville 79',
 (1979.0, 'chevrolet'): 'corvette',
 (1979.0, 'chrysler'): 'cordoba',
 (1979.0, 'dodge'): 'power wagon',
 (1979.0, 'fiat'): 'x1/9',
 (1979.0, 'ford'): 'f-150',
 (1979.0, 'gmc'): 'sierra grande 25',
 (1979.0, 'jeep'): 'cj5',
 (1979.0, 'lincoln'): 'town car',
 (1979.0, 'mercedes-benz'): 'benz 450sl',
 (1979.0, 'mercury'): 'cougar xr7',
 (1979.0, 'nissan'): '280zx',
 (1979.0, 'pontiac'): 'firebird trans am',
 (1979.0, 'porsche'): '924 5-speed',
 (1979.0, 'toyota'): 'corolla',
 (1979.0, 'volkswagen'): 'super beetle',
 (1980.0, 'alfa-romeo'): 'romeo spider',
 (1980.0, 'cadillac'): 'deville',
 (1980.0, 'chevrolet'): 'corvette',
 (1980.0, 'chrysler'): 'new yorker',
 (1980.0, 'datsun'): '280zx',
 (1980.0, 'fiat'): '124 spider',
 (1980.0, 'ford'): 'mustang',
 (1980.0, 'gmc'): 'sierra classic jimmy',
 (1980.0, 'honda'): 'civic',
 (1980.0, 'jeep'): 'cj5',
 (1980.0, 'lincoln'): 'continental',
 (1980.0, 'mercedes-benz'): '450sl',
 (1980.0, 'pontiac'): 'firebird',
 (1980.0, 'porsche'): '928',
 (1980.0, 'subaru'): 'gl wagon',
 (1980.0, 'toyota'): 'celica gt',
 (1980.0, 'volkswagen'): 'camper',
 (1981.0, 'bmw'): '633 csi',
 (1981.0, 'cadillac'): 'eldorado',
 (1981.0, 'chevrolet'): 'corvette',
 (1981.0, 'datsun'): '280zx',
 (1981.0, 'dodge'): 'd 150',
 (1981.0, 'fiat'): '124 spider',
 (1981.0, 'ford'): 'f-150',
 (1981.0, 'gmc'): 'caballero',
 (1981.0, 'jeep'): 'cj7',
 (1981.0, 'lincoln'): 'mark vi',
 (1981.0, 'mazda'): 'rx7',
 (1981.0, 'mercedes-benz'): 'benz 380sl',
 (1981.0, 'nissan'): '280zx',
 (1981.0, 'pontiac'): 'firebird',
 (1981.0, 'porsche'): '928',
 (1981.0, 'toyota'): 'pickup',
 (1981.0, 'volkswagen'): 'rabbit',
 (1982.0, 'bmw'): '323i',
 (1982.0, 'cadillac'): 'coupe de ville',
 (1982.0, 'chevrolet'): 'corvette',
 (1982.0, 'chrysler'): 'cordoba',
 (1982.0, 'datsun'): '280zx',
 (1982.0, 'dodge'): '350',
 (1982.0, 'ford'): 'f100',
 (1982.0, 'gmc'): '2500 pick up',
 (1982.0, 'jaguar'): 'xj6',
 (1982.0, 'jeep'): 'cj',
 (1982.0, 'lincoln'): 'mark v1',
 (1982.0, 'mazda'): 'rx& gls sport',
 (1982.0, 'mercedes-benz'): '300d',
 (1982.0, 'mercury'): 'couger',
 (1982.0, 'pontiac'): 'firebird se',
 (1982.0, 'porsche'): '928s',
 (1982.0, 'ram'): '150',
 (1982.0, 'toyota'): '4runner sr5 4x4',
 (1982.0, 'volkswagen'): 'rabbit',
 (1982.0, 'volvo'): '245',
 (1983.0, 'bmw'): '320i',
 (1983.0, 'buick'): 'regal',
 (1983.0, 'cadillac'): 'brougham',
 (1983.0, 'chevrolet'): 'el camino',
 (1983.0, 'chrysler'): 'imperial',
 (1983.0, 'datsun'): '280zx',
 (1983.0, 'dodge'): 'd150',
 (1983.0, 'fiat'): '/ bertone x1/9',
 (1983.0, 'ford'): 'f-150 custom',
 (1983.0, 'gmc'): 'caballero',
 (1983.0, 'jaguar'): 'xj6',
 (1983.0, 'jeep'): 'cj7',
 (1983.0, 'lincoln'): 'mark vi',
 (1983.0, 'mercedes-benz'): '240d',
 (1983.0, 'mercury'): 'capri',
 (1983.0, 'nissan'): '280zx',
 (1983.0, 'pontiac'): 'firebird',
 (1983.0, 'porsche'): '928 s',
 (1983.0, 'rover'): 'series iii',
 (1983.0, 'toyota'): 'cressida',
 (1983.0, 'volkswagen'): 'rabbit convertible',
 (1983.0, 'volvo'): '245',
 (1984.0, 'alfa-romeo'): 'romeo spider veloce',
 (1984.0, 'bmw'): '318i',
 (1984.0, 'buick'): 'riviera',
 (1984.0, 'cadillac'): 'fleetwood brougham',
 (1984.0, 'chevrolet'): 'corvette',
 (1984.0, 'chrysler'): 'fifth avenue',
 (1984.0, 'datsun'): '300zx',
 (1984.0, 'dodge'): '600',
 (1984.0, 'ford'): 'bronco',
 (1984.0, 'gmc'): 'sierra',
 (1984.0, 'jeep'): 'cj7',
 (1984.0, 'lincoln'): 'town car',
 (1984.0, 'mazda'): 'b2000',
 (1984.0, 'mercedes-benz'): '380 sl',
 (1984.0, 'mitsubishi'): 'pajero',
 (1984.0, 'nissan'): '300zx coupe with t-tops',
 (1984.0, 'pontiac'): 'parisienne',
 (1984.0, 'porsche'): '944',
 (1984.0, 'ram'): 'charger',
 (1984.0, 'toyota'): 'land cruiser',
 (1984.0, 'volkswagen'): 'vanagon',
 (1984.0, 'volvo'): '240',
 (1985.0, 'alfa-romeo'): 'romeo spider graduate',
 (1985.0, 'audi'): '5000s',
 (1985.0, 'bmw'): '318i 2-door coupe',
 (1985.0, 'buick'): 'riviera',
 (1985.0, 'cadillac'): 'eldorado',
 (1985.0, 'chevrolet'): 'corvette',
 (1985.0, 'chrysler'): 'labaron',
 (1985.0, 'dodge'): 'ramcharger',
 (1985.0, 'fiat'): 'x1/9',
 (1985.0, 'ford'): 'mustang',
 (1985.0, 'gmc'): 'sierra 1500',
 (1985.0, 'honda'): 'civic',
 (1985.0, 'jaguar'): 'xj6',
 (1985.0, 'jeep'): 'cj-7',
 (1985.0, 'lincoln'): 'towncar',
 (1985.0, 'mazda'): 'rx7',
 (1985.0, 'mercedes-benz'): 'benz 380sl',
 (1985.0, 'mercury'): 'capri',
 (1985.0, 'nissan'): '300zx',
 (1985.0, 'pontiac'): 'grand prix',
 (1985.0, 'porsche'): '944',
 (1985.0, 'ram'): 'charger',
 (1985.0, 'subaru'): 'brat',
 (1985.0, 'toyota'): 'land cruiser',
 (1985.0, 'volkswagen'): 'vanagon',
 (1986.0, 'alfa-romeo'): 'remeo',
 (1986.0, 'bmw'): '635csi',
 (1986.0, 'buick'): 'grand national',
 (1986.0, 'cadillac'): 'coupe deville',
 (1986.0, 'chevrolet'): 'corvette',
 (1986.0, 'chrysler'): 'lebaron convertible',
 (1986.0, 'dodge'): 'charger',
 (1986.0, 'ferrari'): 'mondial cabriolet',
 (1986.0, 'ford'): 'f-350',
 (1986.0, 'gmc'): 'sierra',
 (1986.0, 'honda'): 'accord dx',
 (1986.0, 'jaguar'): 'xj6',
 (1986.0, 'jeep'): 'cj7',
 (1986.0, 'land rover'): 'defender 110',

This code snippet fills in the missing values in the "model" column of the DataFrame (data) by using the mapping_dict that was previously generated. The loop cycles over the mapping dictionary's keys, which stand for distinct pairings of "year" and "manufacturer." To find the rows in the DataFrame where the "year" and "manufacturer" match the current key for each combination, a boolean mask is built. The corresponding most common "model" value from the mapping dictionary is then used to fill in the missing values in the "model" column for these particular rows. To do this, the fillna() method is used, and the inplace=False parameter makes sure that the modifications are made to a temporary DataFrame without changing the original DataFrame (data). This method works especially well for filling lacking

In [36]:
for k in mapping_dict.keys():
  boolean_mask = (data["year"] == k[0]) & (data["manufacturer"] == k[1])
  data.loc[boolean_mask,"model"] = data.loc[boolean_mask,"model"].fillna(value=mapping_dict[k],inplace=False)

In [37]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model              27
condition           0
cylinders        1766
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

In [43]:
data["cylinders"].fillna(value=data["cylinders"].value_counts().index[data["cylinders"].value_counts().argmax()],
                           inplace=True)

In [44]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model              27
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

In [47]:
crosstab_df_mdl_yr_mfc = pd.crosstab(data["model"],
 [data["year"],data["manufacturer"]],rownames=["model"],
                                     colnames=["year","manufacturer"])

In [48]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model              27
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive               0
size            36793
type             1893
paint_color         0
dtype: int64

In [49]:
data["type"].fillna(value=data["type"].value_counts().index[data["type"].value_counts().argmax()],
                           inplace=True)

In [50]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model              27
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive               0
size            36793
type                0
paint_color         0
dtype: int64

In [62]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model              27
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive               0
size            36793
type                0
paint_color         0
dtype: int64

Using the columns "model" and "year," this code snippet does a cross-tabulation (crosstab), with the values in the resultant table indicating the number of occurrences for each combination of "model" and "year." We next use the idxmax(axis=1) function to determine which "manufacturer" is more common for each set of "model" and "year." To record these associations, the code generates a mapping dictionary called mapping_dict_manufacturer. The keys of this mapping dictionary are then iterated through using a loop, which produces a boolean mask that shows which rows in the DataFrame (data) have "model," "year," and "manufacturer" that match the current key. The corresponding most common "manufacturer" value from the mapping dictionary is used to fill in the missing values in the "manufacturer" column for these chosen rows. Lastly,

In [64]:
crosstab_manufacturer = pd.crosstab([data["model"], data["year"]], data["manufacturer"],
                                     rownames=["model", "year"], colnames=["manufacturer"])


mapping_dict_manufacturer = {}

for (model_value, year_value), manufacturer_value in zip(crosstab_manufacturer.index, crosstab_manufacturer.idxmax(axis=1)):
    mapping_dict_manufacturer[(model_value, year_value)] = manufacturer_value
for (model_value, year_value), manufacturer_value in mapping_dict_manufacturer.items():
    mask = (data["model"] == model_value) & (data["year"] == year_value) & data["manufacturer"].isna()
    data.loc[mask, "manufacturer"] = manufacturer_value


data.isna().sum()

price               0
year                0
manufacturer     3947
model              27
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive               0
size            36793
type                0
paint_color         0
dtype: int64

it is same asthe above

In [65]:
# Create a crosstab to find the most frequent 'size' for each combination of 'model' and 'manufacturer'
crosstab_size = pd.crosstab([data["model"], data["manufacturer"]], data["size"],
                            rownames=["model", "manufacturer"], colnames=["size"])

# Create a mapping dictionary for filling missing values in 'size'
mapping_dict_size = {}

for (model_value, manufacturer_value), size_value in zip(crosstab_size.index, crosstab_size.idxmax(axis=1)):
    mapping_dict_size[(model_value, manufacturer_value)] = size_value

# Fill missing values in 'size' based on the most frequent 'model' and 'manufacturer'
for (model_value, manufacturer_value), size_value in mapping_dict_size.items():
    mask = (data["model"] == model_value) & (data["manufacturer"] == manufacturer_value) & data["size"].isna()
    data.loc[mask, "size"] = size_value

# Display the resulting dataframe
data.isna().sum()

price              0
year               0
manufacturer    3947
model             27
condition          0
cylinders          0
fuel               0
odometer           0
transmission       0
drive              0
size            9242
type               0
paint_color        0
dtype: int64

In [67]:
# Create a mapping dictionary for filling missing values in 'size' based on the most frequent 'model'
mapping_dict_size_model = {}

for model_value, size_value in zip(crosstab_size.columns, crosstab_size.idxmax()):
    mapping_dict_size_model[model_value] = size_value

# Fill missing values in 'size' based on the most frequent 'model'
for model_value, size_value in mapping_dict_size_model.items():
    mask = (data["model"] == model_value) & data["size"].isna()
    data.loc[mask, "size"] = size_value[0]  # Use size_value[0] to get the actual size value

# Display the resulting dataframe
data.isna().sum()

price              0
year               0
manufacturer    3947
model             27
condition          0
cylinders          0
fuel               0
odometer           0
transmission       0
drive              0
size            9242
type               0
paint_color        0
dtype: int64

In [69]:
# Create a crosstab to find the most frequent 'model' for each 'year'
crosstab_model_year = pd.crosstab(data["year"], data["model"], rownames=["year"], colnames=["model"])

# Create a mapping dictionary for filling missing values in 'model'
mapping_dict_model_year = {}

for year_value, model_value in zip(crosstab_model_year.index, crosstab_model_year.idxmax(axis=1)):
    mapping_dict_model_year[year_value] = model_value

# Fill missing values in 'model' based on the most frequent 'year'
for year_value, model_value in mapping_dict_model_year.items():
    mask = (data["year"] == year_value) & data["model"].isna()
    data.loc[mask, "model"] = model_value

# Display the resulting dataframe
data.isna().sum()

price              0
year               0
manufacturer    3947
model              2
condition          0
cylinders          0
fuel               0
odometer           0
transmission       0
drive              0
size            9242
type               0
paint_color        0
dtype: int64

In [73]:
data.isna().sum()

price              0
year               0
manufacturer    3947
model              0
condition          0
cylinders          0
fuel               0
odometer           0
transmission       0
drive              0
size            9242
type               0
paint_color        0
dtype: int64

In [79]:
# Create a crosstab to find the most frequent 'size' for each combination of 'model' and 'manufacturer'
crosstab_size = pd.crosstab([data["model"], data["year"]], data["size"],
                            rownames=["model", "year"], colnames=["size"])

# Create a mapping dictionary for filling missing values in 'size'
mapping_dict_size = {}

for (model_value, manufacturer_value), size_value in zip(crosstab_size.index, crosstab_size.idxmax(axis=1)):
    mapping_dict_size[(model_value, manufacturer_value)] = size_value

# Fill missing values in 'size' based on the most frequent 'model' and 'manufacturer'
for (model_value, manufacturer_value), size_value in mapping_dict_size.items():
    mask = (data["model"] == model_value) & (data["year"] == manufacturer_value) & data["size"].isna()
    data.loc[mask, "size"] = size_value

In [78]:
data.isna().sum()

price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
drive           0
size            0
type            0
paint_color     0
dtype: int64